[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/rewired"]
	path = themes/rewired
	url = https://github.com/RigleGit/rewired.git
